@import "../../variables.scss";

.Anthology {
  background-color: $color-primary;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 100vh;
  padding-top: 7rem;
}

@media (min-width: 500px) {
  .Anthology {
    padding-top: 12rem;
  }
}
