@import "../../variables.scss";

.Anthology {
  padding-top: 10rem;
  background-color: $color-light-brown;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.error {
  font-size: $text-xlarge-size;
  font-style: bold;
}

@media (min-width: 500px) {
  .Anthology {
    padding-top: 15rem;
  }
}
