# Go
bin/
*.log
coverage.out
.cache/

# Node / Angular
web/node_modules/
web/dist/
web/.angular/
web/.sass-cache/
web/.turbo/
web/.DS_Store

# IDEs
.vscode/
.idea/
.DS_Store

# Gemini
.gemini-clipboard
