@import "../../../variables.scss";

.ErrorDialog {
  align-content: center;
  background-color: $color-primary;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
  text-align: center;
}
