@import "../../variables.scss";

.BookSummary {
  font-size: $text-medium-size;
  text-align: center;
  background-color: $color-light-brown;
}

.image {
  width: 10rem;
  height: 13rem;
  object-fit: contain;
}

@media (min-width: 800px) {
  .image {
    height: 300px;
    width: 225px;
  }
}
