@import "../../../variables.scss";

.BookImage {
  background-color: $color-dark-brown;
  height: 13rem;
  object-fit: fit;
  width: 10rem;
}

.loaned {
  filter: grayscale(100%) brightness(30%);
}

@media (min-width: 800px) {
  .BookImage {
    height: 30rem;
    width: 22.5rem;
  }
}
