<div class="canvas__figure">
    <img class="canvas__image" [src]="photoUrl" [alt]="photoAlt" />
    <div class="canvas__overlay" #canvasOverlay>
        @if (mode === 'edit') {
            @for (slot of layoutSlots; track slot) {
                <app-slot-overlay
                    [rowIndex]="slot.rowIndex"
                    [colIndex]="slot.colIndex"
                    [position]="slot.position"
                    [mode]="'edit'"
                    [selected]="isLayoutSlotSelected(slot.rowIndex, slot.colIndex)"
                    [active]="isSlotActive(slot.rowIndex, slot.colIndex)"
                    [slotId]="slot.slotId"
                    (slotClick)="onLayoutSlotClick(slot.rowIndex, slot.colIndex)"
                    (cornerDragStart)="onCornerDragStart(slot.rowIndex, slot.colIndex, $event)"
                ></app-slot-overlay>
            }
        } @else {
            @for (slot of slots; track slot) {
                <app-slot-overlay
                    [rowIndex]="slot.rowIndex"
                    [colIndex]="slot.colIndex"
                    [position]="getSlotPosition(slot)"
                    [mode]="'view'"
                    [selected]="selectedSlotId === slot.id"
                    [slotId]="slot.id"
                    (slotClick)="onViewSlotClick(slot)"
                ></app-slot-overlay>
            }
        }
    </div>
</div>
