@import "../../../variables.scss";

.Button {
  border-width: 2px;
  border-radius: 1rem;
  color: $color-light-brown;
  cursor: pointer;
  font: $text-small-size;
  font-weight: bold;
  letter-spacing: 0.2rem;
  margin: 0.5rem;
  outline: none;
  padding: 1rem 2rem;
  text-transform: uppercase;

  &:disabled {
    color: $color-dark;
    background-color: rgba(0, 0, 0, 0.9);
    cursor: not-allowed;
  }

  &:hover:not([disabled]) {
    background-color: rgba(0, 0, 0, 3);
  }

  &:active {
    box-shadow: inset 5px 5px 30px rgba(0, 0, 0, 0.9);
  }
}

.primary {
  background-color: $color-secondary;
  border-color: $color-light-brown;

  &:hover:not([disabled]) {
    background-color: rgba($color-light-brown, 0.3);
    color: $color-light-brown;
  }
}

.danger {
  background-color: $color-orange;
  border-color: $color-dark-orange;

  &:hover:not([disabled]) {
    background-color: rgba($color-orange, 0.5);
    color: $color-dark-orange;
  }
}

.success {
  background-color: $color-success;
  border-color: $color-dark-orange;

  &:hover:not([disabled]) {
    background-color: rgba($color-success, 0.5);
    color: $color-dark-orange;
  }
}

@media (min-width: 500px) {
  .Button {
    border-width: 5px;
    border-radius: 1.5rem;
    font: $text-medium-size;
    letter-spacing: 0.6rem;
    margin: 1rem;
    padding: 1.5rem 2rem;
  }
}

@media (min-width: 900px) {
  .Button {
    font: $text-large-size;
    letter-spacing: 0.8rem;
    line-height: 2rem;
  }
}
