@import "../../../variables.scss";

.BookButton {
  width: 3rem;
  border: 1px solid $color-black;
  cursor: pointer;

  & img {
    width: 80%;
  }
}

.delete {
  background-color: $color-danger;
}

.loan {
  background-color: $color-warning;
}

.return {
  background-color: $color-warning;
}

@media (min-width: 500px) {
  .BookButton {
    width: 4rem;
  }
}

@media (min-width: 800px) {
  .BookButton {
    width: 5rem;
  }
}
