@import "../../../variables.scss";

.BookButton {
  background-color: transparent;
  border: none;
  border-radius: 0.5rem;
  box-shadow: 0px 15px 10px -10px rgba($color-black, 0.5);
  cursor: pointer;
  margin: 2rem 0.5rem;
  width: 3rem;

  & img {
    width: 80%;
  }
}

.delete {
  background-color: $color-danger;
}

.loan,
.return {
  background-color: $color-warning;
}

@media (min-width: 500px) {
  .BookButton {
    margin: 2rem 1rem;
    width: 4rem;
  }
}

@media (min-width: 800px) {
  .BookButton {
    margin: 2rem 2rem;
    width: 5rem;
  }
}
