<h2 mat-dialog-title cdkFocusInitial>Rename Series</h2>

<mat-dialog-content>
    <mat-form-field appearance="outline" class="name-field">
        <mat-label>Series Name</mat-label>
        <input
            matInput
            [formControl]="nameControl"
            (keyup.enter)="handleSave()"
            autocomplete="off"
        />
        @if (nameControl.hasError('required')) {
            <mat-error>Series name is required</mat-error>
        }
        @if (nameControl.hasError('maxlength')) {
            <mat-error>Name must be 200 characters or less</mat-error>
        }
        <mat-hint align="end">{{ nameControl.value.length || 0 }}/200</mat-hint>
    </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-button type="button" (click)="handleCancel()">Cancel</button>
    <button
        mat-flat-button
        color="primary"
        type="button"
        (click)="handleSave()"
        [disabled]="nameControl.invalid"
    >
        Save
    </button>
</mat-dialog-actions>
