@import "../../variables.scss";

.BookDialog {
  align-content: center;
  background-color: $color-primary;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
  text-align: center;
}

.prompt {
  margin-top: 2rem;
}

.title {
  font-size: $text-medium-size;
  font-weight: bold;
}

@media (min-width: 500px) {
  .title {
    font-size: $text-large-size;
  }
}
