// Color Palette
$color-dark-orange: #4e2008;
$color-orange: #a23607;
$color-light-brown: #efeacc;
$color-brown: #7a6a46;
$color-dark-brown: #4b4934;

// Theme Colors
$color-primary: #848a93;
$color-danger: #f32c1e;
$color-secondary: #703b09;
$color-warning: #b79935;
$color-light: #f6f3f2;
$color-dark: #3e3b3f;
$color-success: #53945a;
$color-info: #22007c;

// Font Colors
$text-color-primary: #232323;
$text-color-light: #eee;
$text-color-dark: #000;

// Font Sizes
$text-small-size: 1.2rem;
$text-medium-size: 1.6rem;
$text-large-size: 2.5rem;
$text-xlarge-size: 4rem;
