// Color Palette

$color-danger: #a23607;
$color-warning: #b79935;
$color-success: #105017;
$color-primary: #efeacc;
$color-secondary: #703b09;

$color-white: #fff;
$color-black: #000;
$color-grey-1: #e4e4e4;
$color-grey-2: #777;
$color-grey-3: #3e3b3f;

// Font Colors
$color-primary: #efeacc;
$text-color-light: #eee;
$text-color-dark: #000;

// Font Sizes
$text-small-size: 1.2rem;
$text-medium-size: 1.6rem;
$text-large-size: 2.5rem;
$text-xlarge-size: 5rem;
