<div class="filters-panel">
    <div class="filters">
        <mat-form-field appearance="outline" class="type-select">
            <mat-label>Type</mat-label>
            <mat-select [value]="typeFilter()" (valueChange)="onTypeChange($event)">
                <mat-option *ngFor="let option of typeOptions" [value]="option.value">
                    {{ option.label }}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field *ngIf="showStatusFilter()" appearance="outline" class="status-select">
            <mat-label>Reading status</mat-label>
            <mat-select [value]="statusFilter()" (valueChange)="onStatusChange($event)">
                <mat-option *ngFor="let option of statusOptions" [value]="option.value">
                    {{ option.label }}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline" class="shelf-status-select">
            <mat-label>Shelf status</mat-label>
            <mat-select [value]="shelfStatusFilter()" (valueChange)="onShelfStatusChange($event)">
                <mat-option *ngFor="let option of shelfStatusOptions" [value]="option.value">
                    {{ option.label }}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <button
            mat-stroked-button
            type="button"
            class="export-button"
            [disabled]="exportBusy"
            (click)="onExport()"
            aria-label="Export library to CSV"
        >
            <mat-icon *ngIf="!exportBusy" aria-hidden="true">file_download</mat-icon>
            <mat-progress-spinner
                *ngIf="exportBusy"
                diameter="18"
                mode="indeterminate"
            ></mat-progress-spinner>
            <span>Export</span>
        </button>

        <div class="view-toggle" role="group" aria-label="Change view">
            <button
                mat-icon-button
                type="button"
                [class.active]="isTableView()"
                (click)="onViewModeChange('table')"
                aria-label="Switch to list view"
                [attr.aria-pressed]="isTableView()"
            >
                <mat-icon>list</mat-icon>
            </button>
            <button
                mat-icon-button
                type="button"
                [class.active]="isGridView()"
                (click)="onViewModeChange('grid')"
                aria-label="Switch to grid view"
                [attr.aria-pressed]="isGridView()"
            >
                <mat-icon>grid_view</mat-icon>
            </button>
            <button
                mat-icon-button
                type="button"
                [class.active]="isSeriesView()"
                (click)="onViewModeChange('series')"
                aria-label="Switch to series view"
                [attr.aria-pressed]="isSeriesView()"
            >
                <mat-icon>collections_bookmark</mat-icon>
            </button>
        </div>
    </div>
</div>
