.Book {
  height: 30rem;
  display: flex;
}

.image {
  position: relative;
  max-width: 100%;
  box-shadow: 0px 15px 10px -10px rgba(0, 0, 0, 0.5);
}

.return {
  filter: grayscale(100%) brightness(40%);
}

.title {
  width: 100%;
  text-align: center;
  margin: 1rem 0 5rem 0;
}

@media (min-width: 500px) {
  .Book {
    width: 100%;
  }
}
