@import "../../variables.scss";

.Book {
  display: flex;
  flex-direction: column;
  flex-basis: 0;
  margin: 1rem 0;
}

.bookControls {
  box-shadow: 0px 15px 10px -10px rgba($color-black, 0.5);
  display: flex;
}

.imageButton {
  border: none;
  cursor: pointer;
  height: 13rem;
}

.title {
  font-weight: bold;
  line-height: 1.5rem;
  margin-top: 1rem;
  text-align: center;
}

@media (min-width: 400px) {
  .Book {
    margin: 1rem;
  }
}

@media (min-width: 800px) {
  .Book {
    margin: 2rem;
  }

  .imageButton {
    height: 30rem;
  }
}
