@import "../../variables.scss";

.Book {
  display: flex;
  flex-direction: column;
  flex-basis: 0;
  margin: 1rem 0;
}

.bookControls {
  display: flex;
}

.return {
  filter: grayscale(100%) brightness(40%);
}

.title {
  font-weight: bold;
  text-align: center;
  line-height: 1.5rem;
  margin-top: 1rem;
}

@media (min-width: 400px) {
  .Book {
    margin: 1rem;
  }
}

@media (min-width: 700px) {
  .Book {
    margin: 2rem;
  }
}
